<template>
    <div>
        <div class="form-group">
            <label class="tit">Roles </label>
            <input class="form-control" :label="`Roles name`" :placeholder="`Roles name`" v-model="objData.name"
                   ref="name"/>
        </div>
        <div class="form-group">
            <label class="tit">Display name</label>
            <input class="form-control" :label="`Display name`" :placeholder="`Display name`"
                   v-model="objData.display_name" ref="display_name"/>
        </div>
        <div class="form-group">
            <label class="tit">Description</label>
            <input class="form-control" :label="`Description`" :placeholder="`Description`"
                   v-model="objData.description" ref="description"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="editRole()">
                <span>Save</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import axios from 'axios';

    export default {
        props: ['rolesId'],
        data() {
            return {
                objData: {
                    id: 0,
                    name: '',
                    display_name: '',
                    description: '',
                },
            }
        },
        computed: {},
        methods: {
            ...mapActions(['getDetailRole', 'saveRole']),
            editRole() {
                if (!this.objData.name) {
                    this.$refs.name.focus();
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                if (!this.objData.display_name) {
                    this.$refs.display_name.focus();
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveRole(this.objData).then(response => {
                    if (response.success) {
                        if (this.rolesId > 0) {
                            this.$message(this.$i('EditSuccess'));
                        } else {
                            this.$message(this.$i('AddSuccess'));
                        }
                        this.$emit('closePopup');
                    }
                }).catch(error => {
                    this.$message(error.message, 'error');
                });
            },
            getRole() {
                if (this.rolesId > 0) {
                    this.objData.id = this.rolesId;
                    this.getDetailRole(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                        }
                    }).catch((err) => {
                        this.$message(err.message, 'error');
                    });
                }
            },
        },
        created() {
            this.getRole();
        }
    }
</script>
