<template>
    <wrapper :title="$i('ManagementAuthority')" sapo="">
        <div class="card">
            <div class="card-body">
                <div class="dn-content-left">
                    <div class="row" id="form-search">
                        <div class="col-xl-2 col-lg-4">
                            <button class="btn btn-primary" @click="openPopup(0)">Add Roles</button>
                        </div>
                    </div>
                    <div class="mt-2">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="width-150">Roles level</th>
                                <th>Cấu hình hệ thống</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in listRoles.role" :key="item.id"
                                v-if="listRoles.role">
                                <td>{{item.name}}</td>
                                <td>
                                    <input type="checkbox" @click="checkboxPermission(1, index)"
                                           :checked="checked(item.permission_id, 1)"/>
                                    {{ $i('Can') }}<br/>
                                </td>
                                <td class="btn-action width-160">
                                    <button title="Save Permission Role" class="btn btn-icons btn-primary"
                                            v-on:click="editPermissionRole(item.id, index, item.permission_id, item.name)">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button title="Edit Role" class="btn btn-icons btn-info"
                                            v-on:click="openPopup(item.id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button title="Delete Role" class="btn btn-icons btn-danger"
                                            v-on:click="delRole(item)">
                                        <i class="mdi mdi-close-circle-outline"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <modal v-if="popupAddRoles" title="Add Roles" @close="popupAddRoles = false">
                        <div slot="body">
                            <EditAuthority :rolesId="rolesId" v-on:closePopup="closePopUp()"></EditAuthority>
                        </div>
                    </modal>
                </div>
            </div>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters, mapState} from 'vuex';
    import EditAuthority from './edit';
    import axios from 'axios';

    export default {
        name: 'Home',
        data() {
            return {
                objData: {
                    rolesId: 0,
                    index: -1,
                    permission: [],
                },
                listRoles: {},
                rolesId: 0,
                popupAddRoles: false,
            }
        },
        components: {
            'EditAuthority': EditAuthority
        },
        computed: {
            ...mapGetters(['listRole']),
            loggedIn() {
                return this.$store.getters.loggedIn
            },
            loaded() {
                return this.$store.loaded;
            }
        },
        watch: {
            listRole(val) {
                this.listRoles = val.data
            }
        },
        methods: {
            ...mapActions(['deleteRole', 'getListRole', 'savePermissionRole']),
            searchData() {
                let loading = this.$loading.show();
                this.getListRole().then(() => {
                    loading.hide();
                }).catch(err => {
                    loading.hide();
                    return err.message;
                });
            },
            checked(permission, index) {
                if (!permission || permission.length === 0)
                    return false;
                else {
                    return permission.filter(k => k === index).length;
                }
            },
            checkboxPermission: function (value, index) {
                if (this.listRoles.role[index].permission_id && this.listRoles.role[index].permission_id.filter(k => k === value).length === 0) {
                    this.listRoles.role[index].permission_id.push(value);
                } else {
                    _.remove(this.listRoles.role[index].permission_id, function (num) {
                        return num === value;
                    });
                }
            },
            editPermissionRole(id, index, permission, name) {
                this.$confirm('You want to save roles ' + name + ' !').then(() => {
                    let loading = this.$loading.show();
                    this.objData.rolesId = id;
                    this.objData.index = index;
                    this.objData.permission = permission;
                    this.savePermissionRole(this.objData).then((response) => {
                        loading.hide();
                        if(response.success){
                            this.$message(this.$i('Success'));
                        }
                    }).catch(error => {
                        loading.hide();
                        this.$message(error.message, 'error');
                    })
                });
            },
            delRole(objRole) {
                this.$confirm('You want to delete ' + objRole.name + ' !').then(() => {
                    let loading = this.$loading.show();
                    this.deleteRole(objRole).then((response) => {
                        loading.hide();
                        if(response.success){
                            this.$message(this.$i('Success'));
                            this.searchData();
                        }
                    }).catch(error => {
                        loading.hide();
                        this.$message(error.message, 'error');
                    })
                });
            },
            openPopup(id) {
                this.popupAddRoles = true;
                this.rolesId = id || 0;
            },
            closePopUp() {
                this.popupAddRoles = false;
                this.searchData();
            },
        },
        created() {
            this.searchData();
        },
    };
</script>
<style type="text/css">
    .jqstooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0, 0, 0, 0.6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid white;
        z-index: 10000;
    }

    .jqsfield {
        color: white;
        font: 10px arial, san serif;
        text-align: left;
    }
</style>
