﻿<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
                <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                    <div class="row w-100">
                        <div class="col-lg-4 mx-auto">
                            <div class="auto-form-wrapper">
                                <form action="#">
                                    <div class="form-group">
                                        <label class="label">Username</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" :placeholder="$i('Username')"
                                                   v-model="objLogin.name">
                                            <div class="input-group-append">
                                              <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" :placeholder="$i('Password')"
                                                   v-model="objLogin.password">
                                            <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary submit-btn btn-block" @click="login">Login</button>
                                    </div>
                                </form>
                            </div>
                            <p class="footer-text text-center">Copyright © 2019 Amela. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import {mapActions} from 'vuex';
    import CONSTANTS from '../../core/utils/constants';

    export default {
        name: 'login',
        data() {
            return {
                objLogin: {
                    name: '',
                    password: ''
                }
            }
        },
        computed: {},
        methods: {
            ...mapActions(['retrieveToken']),
            login() {
                let loading = this.$loading.show();
                this.retrieveToken(this.objLogin).then((response) => {
                    loading.hide();
                    this.$router.push({path: '/'});
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
        },
        created() {
            if (!process.env.VUE_ENV) {
                if (localStorage.getItem(CONSTANTS.ACCESS_TOKEN)) {
                    if (this.$route.query && this.$route.query.returnUrl)
                        this.$router.push(decodeURIComponent(this.$route.query.returnUrl));
                    else
                        this.$router.push('/');
                }
            }
            localStorage.setItem(CONSTANTS.CURRENT_VERSION, this.appSettings.version);
        }
    };
</script>
