$types: 400;
$type-width: 20px;

@while $types >= 100 {
  .width-#{$types} {
    width: $types + px;
    max-width: $types + px;
    min-width: $types + px;
  }
  $types: $types - 10
}


.swal2-icon {
  zoom: 55% !important;
}

.swal2-popup {
  .swal2-title {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .swal2-styled {
    padding: 7px 18px !important;
  }

  .swal2-styled:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.swal2-container {
  z-index: 999999 !important;
}

@media (max-width: 767px) {
  .swal2-popup {
    .swal2-styled {
      padding: 7px 10px !important;
    }

    .swal2-styled {
      font-size: 14px !important;
    }

    .swal2-content {
      font-size: 13px !important;
    }
  }
}