﻿<template>
    <wrapper title="Quản lý ngôn ngữ" sapo="">
        <div id="form-search">
            <button type="button" class="btn btn-primary" @click="openPopup()"><i class="fa fa-plus-circle"></i> Thêm
                ngôn ngữ
            </button>
            <button type="button" class="btn btn-danger ml-2" @click="openLanguageStatic()"><i
                    class="fa fa-plus-circle"></i> Thêm
                từ khoá
            </button>
        </div>
        <div class="common-table tbl-fix-600">
            <table class="table table-striped">
                <thead slot="header">
                <tr>
                    <th>{{$i("Label.Stt")}}</th>
                    <th>Mã ngôn ngữ</th>
                    <th>Tên</th>
                    <th>Tên tiếng Việt</th>
                    <th>Thứ tự hiển thị</th>
                    <th>Trạng thái</th>
                    <th class="text-center width-250">{{$i("Label.Action")}}</th>
                </tr>
                </thead>
                <tbody v-if="languages">
                <tr v-for="(item, index) in languages" :key="item.code">
                    <td>{{index + 1}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.viName}}</td>
                    <td>{{item.priority}}</td>
                    <td>
                        <span class="badge badge-primary" v-if="item.status==1">Hiển thị</span>
                        <span class="badge badge-danger" v-else>Ẩn</span>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-warning" :title="$i('Label.Edit')" @click="openPopup(item.code)">Sửa
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="common-table tbl-fix-600">
            <div class="row mt-4 mb-3">
                <div class="col-xs-9 col-lg-9 col-md-9 col-sm-12 col-12">
                    <h5 ref="checkSaveBtn">Danh sách từ khóa tĩnh</h5>
                </div>
                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-12 col-12 text-right">
                    <div id="saveLanguage" :class="{'stick':  stick}">
                        <button type="button" class="btn btn-primary" @click="editLanguageStaticByLang()"><i
                                class="fa fa-save"></i> Lưu dữ liệu từ khóa
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead slot="header">
                <tr>
                    <th>{{$i("Label.Stt")}}</th>
                    <!--<th>Key</th>-->
                    <th>Từ khóa</th>
                    <th v-for="(item, index) in languages" :key="item.code">{{item.name}}</th>
                </tr>
                </thead>
                <tbody v-if="languageStatic">
                <tr v-for="(item, index) in languageStatic" :key="item.info.languageKey">
                    <td>{{index + 1}}</td>
                    <!--<td>{{item.info.languageKey}}</td>-->
                    <td>{{item.info.languageDefaultValue}}</td>
                    <td v-for="(jtem, index2) in languages" :key="jtem.code">
                        <input type="text" class="form-control" v-model="item.lang[jtem.code]"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <modal v-if="popupAdd" @close="popupAdd=false" :title="objLanguage.code != '' ? 'Cập nhật ngôn ngữ' : 'Thêm mới ngôn ngữ'">
            <div slot="body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Chọn ngôn ngữ</label>
                            <select class="form-control" v-model="objLanguage.code" placeholder="Tên tiếng Việt"
                                    :disabled="objLanguage.code != ''">
                                <option v-for="(lang,key) in allLanguages" :value="key" :key=key>{{lang[0]}} -
                                    {{lang[1]}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tên tiếng Việt</label>
                            <input type="text" class="form-control" v-model="objLanguage.name"/>
                        </div>
                        <div class="form-group">
                            <label>Thứ tự hiển thị</label>
                            <input type="text" class="form-control" v-model="objLanguage.priority"/>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <select class="form-control" v-model="objLanguage.status">
                                <option value="0">Ẩn</option>
                                <option value="1">Hiển thị</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button class="btn btn-primary" @click="editLanguage()">
                    <span>{{$i("Label.Save")}}</span>
                </button>
            </div>
        </modal>
        <modal v-if="popupLanguageStatic" @close="closePopupLanguageStatic">
            <div slot="body">
                <editLanguageStatic v-on:closePopup="closePopupLanguageStatic"></editLanguageStatic>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editLanguageStatic from './edit'

    export default {
        name: 'language-index',
        data() {
            return {
                objLanguage: {
                    code: '',
                    name: '',
                    priority: 1,
                    viName: '',
                    status: 1,
                },
                popupAdd: false,
                staticTexts: null,
                stick: false,
                popupLanguageStatic: false,
            }
        },
        computed: {
            ...mapGetters(['languageStatic', 'languages', 'allLanguages'])
        },
        components: {
            editLanguageStatic,
        },
        methods: {
            ...mapActions(['getListLanguages', 'getDetailLanguage', 'getListLanguageStatic', 'saveLanguage', 'saveLanguageStaticByLang']),
            editLanguage() {
                if (this.objLanguage.code == '') {
                    return this.$message(this.$i('LabelErrorEmptyLanguage'), 'error');
                }
                let loading = this.$loading.show();
                this.saveLanguage(this.objLanguage).then((response) => {
                    loading.hide();
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.closePopup();
                    }
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            detailLanguage(){
                this.getDetailLanguage(this.objLanguage).then(response =>{
                    if(response.success){
                        this.objLanguage = response.data;
                    }

                }).catch(error => {
                    this.$message(error.method,'error');
                })
            },
            getLanguageStatic(){
                let loading = this.$loading.show();
                this.getListLanguageStatic().then(() => {
                    loading.hide();
                }).catch((err) => {
                    loading.hide();
                    return this.$message(err.message, 'error');
                });
            },
            getDetail() {
                this.languageDetail = this._.find(this.languages, (item, key) => {
                    return item.code == this.code;
                });
            },
            editLanguageStaticByLang() {
                let loading = this.$loading.show();
                this.saveLanguageStaticByLang(JSON.stringify(this.languageStatic)).then((response) => {
                    loading.hide();
                    if (response.success) {
                        this.$message(this.$i('Success'));
                        this.getLanguageStatic();
                    }
                }).catch((err) => {
                    loading.hide();
                    this.$message(err.message, 'error');
                });
            },
            scrollPage() {
                let check = this.$refs['checkSaveBtn'].getBoundingClientRect().top;
                if (check < 100) {
                    this.stick = true;
                } else {
                    this.stick = false;
                }
            },
            openPopup(code = '') {
                this.popupAdd = true;
                this.objLanguage.code = code || '';
                if(code != '') {
                    this.detailLanguage();
                }
            },
            closePopup() {
                this.popupAdd = false;
                this.getListLanguages();
            },
            openLanguageStatic() {
                this.popupLanguageStatic = true;
            },
            closePopupLanguageStatic() {
                this.popupLanguageStatic=false;
                this.getListLanguageStatic();
            },
        },
        created() {
            this.getListLanguages();
            this.getLanguageStatic();
        },
        mounted() {
            window.addEventListener('scroll', this.scrollPage);
        },
        destroyed() {
            window.removeEventListener('scroll', this.scrollPage);
        },
    }
</script>
<style>
    #saveLanguage.stick {
        position: fixed;
        top: 60px;
        right: 50px;
    }
</style>
