﻿<template>
    <div class="container-scroller" v-if="currentUser" @click="showMenuUser = false">
        <siteHeader @offCanvas="offcanvas = $event" @changePassword="popupChangePassword = true"></siteHeader>
        <div class="container-fluid page-body-wrapper">
            <keep-alive>
                <menuLeft :offcanvas="offcanvas"></menuLeft>
            </keep-alive>
            <div class="main-panel">
                <div class="content-wrapper">

                    <router-view :key="$route.path"></router-view>

                </div>
                <siteFooter/>
            </div>
        </div>

        <modal v-if="popupChangePassword" @close="popupChangePassword = false" :width="325" :footer="false"
               :title="$i('TitleChangePassword')">
            <div slot="body">
                <div class="form-group">
                    <label>{{ $i('CurrentPassword')}}</label>
                    <input type="password" class="form-control" :placeholder="$i('CurrentPassword')"
                           v-model="form.currentPassword"/>
                </div>
                <div class="form-group">
                    <label>{{ $i('NewPassword')}}</label>
                    <input type="password" class="form-control" :placeholder=" $i('NewPassword')"
                           v-model="form.password"/>
                </div>
                <div class="form-group">
                    <label>{{ $i('ReEnterPassword') }}</label>
                    <input type="password" class="form-control" :placeholder="$i('ReEnterPassword')"
                           v-model="form.passwordConfirmation"/>
                </div>
                <div class="form-group text-right">
                    <span class="btn btn-primary w-md waves-effect waves-light"
                          @click="submitChangePassword">Xong</span>
                </div>
            </div>
        </modal>
        <modal v-if="popupChangeCache" @close="popupChangeCache = false" :width="325" :footer="false"
               :title="$i('TitleDeleteCache')">
            <div slot="body">
                <div class="form-group" style="text-align: center;">
                    <span class="btn btn-primary w-md waves-effect waves-light" @click="deleteCache">{{ $i('DeleteCache')}}</span>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import menuLeft from './_shared/site-left';
    import siteHeader from './_shared/site-header'
    import siteFooter from './_shared/site-footer'

    let menuMode = '';
    if (typeof (localStorage) !== 'undefined') {
        try {
            menuMode = localStorage.getItem(CONSTANTS.MENU_MODE) || '';
        } catch (e) {

        }
    }
    export default {
        name: 'app',
        components: {
            menuLeft,
            siteHeader,
            siteFooter
        },
        data() {
            return {
                popupChangePassword: false,
                popupChangeCache: false,
                form: {
                    currentPassword: '',
                    password: '',
                    passwordConfirmation: ''
                },
                isInFullScreen: false,
                showModal: false,
                showMenuUser: false,
                menuMode: menuMode,
                windowWidth: 0,
                offcanvas: false,
            }
        },
        methods: {
            ...mapActions(['logOut']),
            closeAccountSetting() {
                this.showMenuUser = false;
            },
            signOut() {
                this.logOut().then(() => {
                    this.$router.push(`/login`);
                });
            },
            submitChangePassword() {
                if (!this.form.currentPassword || !this.form.password || !this.form.passwordConfirmation)
                    return this.$message(this.$i('PleaseEnterFullInformation'), 'error');
                if (this.form.password != this.form.passwordConfirmation)
                    return this.$message(this.$i('TheNewPasswordDoesNotMatch'), 'error');
                this.$http({
                    data: {
                        url: 'api/changePass',
                        ...this.form
                    }
                }).then((response) => {
                    if (response.success) {
                        this.popupChangePassword = false;
                        this.form = {
                            currentPassword: '',
                            password: '',
                            passwordConfirmation: ''
                        };
                        return this.$message(this.$i('ChangePasswordSuccess'));
                    }
                }).catch(err => {
                    return this.$message(this.$i('CurrentPasswordIncorrect'), 'error');
                });
            },
            cancelFullScreen(el) {
                var requestMethod = el.cancelFullScreen || el.webkitCancelFullScreen || el.mozCancelFullScreen || el.exitFullscreen;
                if (requestMethod) { // cancel full screen.
                    requestMethod.call(el);
                } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                    var wscript = new ActiveXObject("WScript.Shell");
                    if (wscript !== null) {
                        wscript.SendKeys("{F11}");
                    }
                }
            },
            requestFullScreen(el) {
                // Supports most browsers and their versions.
                var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;

                if (requestMethod) { // Native full screen.
                    requestMethod.call(el);
                } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                    var wscript = new ActiveXObject("WScript.Shell");
                    if (wscript !== null) {
                        wscript.SendKeys("{F11}");
                    }
                }
                return false
            },
            toggleFullScreen() {
                var elem = document.body; // Make the body go full screen.
                this.isInFullScreen = (document.fullScreenElement && document.fullScreenElement !== null) || (document.mozFullScreen || document.webkitIsFullScreen);
                if (this.isInFullScreen) {
                    this.cancelFullScreen(document);
                    this.isInFullScreen = false;
                } else {
                    this.requestFullScreen(elem);
                    this.isInFullScreen = true;
                }
                return false;
            },
            toggleMenuMode() {
                this.menuMode == 'enlarged' ? this.menuMode = '' : this.menuMode = 'enlarged';
            },
            deleteCache() {
                this.$confirm(this.$i('DoYouWantDeleteCache')).then(() => {
                    let loading = this.$loading.show();
                    this.$http({
                        data: {
                            url: '/api/deleteCache',
                        }
                    }).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('DeleteCacheSuccess'));
                            this.popupChangeCache = false;
                        }
                        loading.hide();
                        return setTimeout(function () {
                            this.$router.go(0)
                        }.bind(this), 500);
                    }).catch((error) => {
                        loading.hide();
                        return this.$message(this.$i('DeleteCacheFailure'), 'error');
                    });
                });
            },
            getWindowWidth() {
                this.windowWidth = document.documentElement.clientWidth;
                if (this.windowWidth < 768) {
                    this.menuMode = 'enlarged';
                } else {
                    this.menuMode = '';
                }
            },
        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);
                this.getWindowWidth()
            })
        },
        destroyed() {
            window.removeEventListener('resize', function () {
                this.handleResize();
                this.getWindowWidth();
            });
        },
        watch: {
            'menuMode'() {
                if (this.menuMode && this.menuMode == 'enlarged') {
                    document.getElementsByTagName('body')[0].classList.add('enlarged');
                } else {
                    document.getElementsByTagName('body')[0].classList.remove('enlarged');
                }
            }
        }
    }
</script>
